/* Sidebar container */
.sidebar {
    width: 13%;
    height: 100vh;
    background-color: #60a2e3;
    color: #ecf0f1;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Sidebar header */
  .sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 10%;
  }
  
  /* Sidebar navigation links */
  .sidebar ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-left: 10%;
  }
  
  .sidebar ul li {
    margin: 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 1rem;
    display: block;
    border-radius: 5%;
    padding: 3%;
    transition: background-color 0.3s ease;
  }
  
  .sidebar ul li a:hover {
    background-color: #34495e;
  }